.ambition__cloud__about__us__container {
  width: 85%;
  margin: 70px auto;
  min-height: 80vh;
}
.about__us__title {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  font-family: sans-serif;
  opacity: 0.8;
  margin-bottom: 80px;
}
.about__us__content__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  /* margin-top: 200px; */
}

.about__us__info__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.about__us__info__img__container img {
  width: 90%;
  margin: 0 auto;
  display: block;
  object-fit: center;
}

.about__us__info__text__container h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  opacity: 0.8;
  margin-bottom: 15px;
}
.about__us__content__container .info__address {
  font-size: 16px;
  font-family: sans-serif;
  opacity: 0.8;
  margin-bottom: 20px !important;
}

.about__us__info__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

p {
  font-size: 16px;
  font-family: sans-serif;
  opacity: 0.8;
}
.about__us__map__container iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .about__us__content__container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
    margin-top: 10px;
  }
  .about__us__map__container iframe {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .about__us__info__img__container img {
    width: 100%;
    height: 270px;
  }
  .about__us__title {
    font-size: 23px;
  }
  .about__us__info__container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .about__us__info__text__container h3{
    font-size: 22px;
  }
  .about__us__map__container iframe {
    width: 100%;
    height: 300px;
  }
}
