.single__order__card__container{
    border-radius: 10px;
    max-width: 300px;
}
.card__header{
    /* background-color: #f20791; */
    padding: 1rem 0.5rem !important;
    border-radius: 10px 10px 0 0 ;
    text-align: center;
    color: #fff;
}
.card__body{
    padding: 1rem 2rem !important;
    border: 1px solid;
    border-top: 0;
    margin-top: -4px;
    border-radius: 0 0 10px 10px;
}
.card__body p{
    font-size: 16px;
    margin-bottom: 10px;
}
.card__body p:first-child{
    font-size: 16px;
    text-align: center;
}
.card__body hr{
    margin: 5px 0px;
}
.card__body button{
    padding: 5px 20px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fff;
  border: 1px solid; 
  cursor: pointer;
  font-weight: 600;
  display: block;
  margin: 10px auto;
}

