.ambition__cloud__condition__container {
  width: 85%;
  margin: 20px auto;
}
.condition__heading{
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}
.ambition__cloud__condition__container h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.condition__description{
    font-size: 16px;
    margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
    .ambition__cloud__condition__container{
        width: 95%;
    }
    .ambition__cloud__condition__container h3{
        font-size: 16px;
    }
}