@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "SolaimanLipi", Arial !important;
}

p, a, button, h1,h2, h3, h4, h5, h6, input, label{
  font-family: "SolaimanLipi", Arial !important;

}