@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "SolaimanLipi", Arial, sans-serif !important;
}

